:root {
  --bs-body-bg: #F2E5D8;
  --bs-body-bg-rgb: 242, 229, 216;
  --bs-primary: #7C0E0F;
  --bs-primary-rgb: 124, 14, 15;


}

body {

    font-family: 'Abril Fatface', 'Cedarville Cursive', 'Raleway', serif;
  line-height: 1;
  background-color: var(--bs-body-bg);
}
h1 {
  font-family: 'Abril Fatface', serif;
  font-size: 2.5rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  line-height: 1.7;
}
h2{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2rem;
}



ol,
ul {
  list-style: none;
  line-height: 2;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.logoimg {
  max-width: 200px;
  /* Adjust the size as needed */
  height: auto;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  left: 0;
}







ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
}


header {
  background-color: #F2E5D8;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  
}

h1,
h2,
h3,
h5,
p,
ul {
  color: #7B0F0F;
}



/* home page styles */
.main-nav,
.skip-links {
  list-style: none;
  padding: 0;
  border: 5px solid#7C0E0F;
  border-top: none;
  /* Remove the top border */
  padding: 15px;
  /* Increase padding for larger text */
}

.main-nav a,
.skip-links a {
  text-decoration: none;
  color: #7C0E0F;
  padding: 10px;
  display: block;
  font-size: 18px;
  /* Increase font size */
  
}

.main-nav a:hover,
.skip-links a:hover {
  text-decoration: none;
  background-color: #F2E5D8;
  color: #c55e82;
  font-size: 20px;

}

/* about page styles */

.about-image {
  max-width: 300px;
  width: 100%;
  height: auto;
  margin-right: 20px;
  /* Add margin to the right for spacing */
}

/* Contact page styles */


.custom-img-size {
  width: 200px;
  /* Adjust the width as per your preference */
  height: auto;
}

.custom-btn {
  background-color: #7B0F0F;
  color: white;
  border: none;
}


  .custom-btn:hover {
    background-color: #E85859;
    color: #F2E5D8;  

}

.custom-form .form-control {
  background-color: #F2E5D8;
  border: 1px solid black;
}

.custom-form label,
.custom-form .form-control {
  color: #7B0F0F;
  /* Set text color to your desired color */
}

.custom-line-height {
  line-height: 1;
}

.custom-form {
  border-radius: 0; /* Remove rounded edges for the form */
}

.custom-btn {
  border-radius: 0; /* Remove rounded edges for the button */
}
a {
  color: #7B0F0F;
  text-decoration: none;
}
a:hover {
  animation: bounce 0.5s;
}

.custom-border {
  border: 3px solid #7C0E0F;
  border-top: none;
  padding: 10px; 
}

.navbar-toggler-icon {
  border: none;
  color: #7C0E0F; 
}

a {
  color: #7C0E0F;
  transition: color 0.5s;
}

a:hover {
  color: #E85859;
  transition: color 0.5s;
}

.btn {
  background-color: #7B0F0F;
  color: white;
  transition: background-color 0.5s, color 0.5s;
}

.btn:hover {
  animation: animate__bounce;
  background-color: #E85859;
  color: #F2E5D8;
  transition: background-color 0.5s, color 0.5s;
}

.skip-link a {
  color: #7C0E0F;
  transition: color 0.3s;
}

.skip-link a:hover {
  color: #E85859;
}
